<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<p>
  <strong>Merchant:</strong>
  <%= @payment.merchant %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @payment.currency %>
</p>

<p>
  <strong>Pre approval:</strong>
  <%= @payment.pre_approval %>
</p>

<p>
  <strong>Transaction hash:</strong>
  <%= @payment.transaction_hash %>
</p>

<p>
  <strong>Image hash:</strong>
  <%= @payment.image_hash %>
</p>

<p>
  <strong>Image:</strong><br/>
  <%= image_tag @payment.invoice.url %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
