<!DOCTYPE html>
<html>
<head>
  <title>MobilePayWithBlockchain</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2 align="center">Enterprise Payment Tracker</h2>
  <% unless notice.nil? %>
    <p class="notice"><%= notice %></p>
  <% end %>
  
  <% unless alert.nil? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <% if user_signed_in? %>
    <div id='welcomeuser'>Welcome <%= current_user.email %> &nbsp; <%=  link_to 'sign out', destroy_user_session_path, :method => :delete %><br/>
      <%= link_to_unless_current 'block explorer', blockchain_index_path %> &nbsp; |
      <%= link_to_unless_current 'home', root_path %>
    </div>
  <% end %>
  <%= yield %>

</body>
</html>
